.mask{
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 9999;
    background-color: rgba(0,0,0,0.5);
    display: none;
}
.register{
    width: 622px;
    height: 404px;
    position: fixed;
    left: 50%;
    right: 50%;
    top: 50%;
    bottom: 50%;
    margin-left: -311px;
    margin-top: -202px;
    z-index: 130;
    background-color: white;
}
.register h4{
    text-align: center;
    font-size: 30px;
    padding-bottom: 10px;
}
.register form{
    margin-left: 160px;
}
.register input{
    margin: 0px 0 30px 0;
    width: 302px;
    height: 42px;
}
.register button{
    cursor: pointer;
}
.register a{
    color: blue;
    text-decoration:underline;
}
#close{
    text-decoration: none;
    background: url(../images/聚诚品-腾讯官方周边商城/ico-comm.png) no-repeat 5px -247px;
    z-index: 130;
    position: relative;
    top: -60px;
    right: -121px;
    background-color: #adabab;
}
#close{
    display: inline-block;
    width: 30px;
    height: 26px;
    text-indent: -9999em;
    z-index: 9999;
}